In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('500_Cities__Local_Data_for_Better_Health__2019_release.csv')

In [78]:
df.shape

(810103, 24)

In [79]:
df.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Health Outcomes,1714000-17031612000,All teeth lost among adults aged >=65 Years,%,...,39.9,NaN,NaN,1545,"(41.7978467034, -87.6525358919)",HLTHOUT,TEETHLOST,1714000.0,1.703161e+10,Teeth Loss
1,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Prevention,1714000-17031660700,Visits to dentist or dental clinic among adult...,%,...,46.3,NaN,NaN,2366,"(41.7738453587, -87.6810954614)",PREVENT,DENTAL,1714000.0,1.703166e+10,Dental Visit
2,2017,IL,Illinois,Decatur,Census Tract,BRFSS,Health Outcomes,1718823-17115001100,Current asthma among adults aged >=18 Years,%,...,10.5,NaN,NaN,3485,"(39.8496654386, -88.9073271617)",HLTHOUT,CASTHMA,1718823.0,1.711500e+10,Current Asthma
3,2016,IL,Illinois,Joliet,Census Tract,BRFSS,Health Outcomes,1738570-17197881603,All teeth lost among adults aged >=65 Years,%,...,27.4,NaN,NaN,3301,"(41.5405415324, -88.133133385)",HLTHOUT,TEETHLOST,1738570.0,1.719788e+10,Teeth Loss
4,2017,IL,Illinois,Elgin,Census Tract,BRFSS,Health Outcomes,1723074-17031804405,High cholesterol among adults aged >=18 Years ...,%,...,26.3,NaN,NaN,3632,"(42.0349418585, -88.2462502287)",HLTHOUT,HIGHCHOL,1723074.0,1.703180e+10,High Cholesterol

In [80]:
df['MeasureId'].value_counts()

COPD            29006
DIABETES        29006
BINGE           29006
STROKE          29006
CHECKUP         29006
CHD             29006
CHOLSCREEN      29006
MHLTH           29006
CANCER          29006
PHLTH           29006
CASTHMA         29006
BPMED           29006
SLEEP           29006
BPHIGH          29006
CSMOKING        29006
ARTHRITIS       29006
KIDNEY          29006
LPA             29006
DENTAL          29006
HIGHCHOL        29006
OBESITY         29006
ACCESS2         28973
PAPTEST         28912
COLON_SCREEN    28847
MAMMOUSE        28727
TEETHLOST       28601
COREM           28464
COREW           28453
Name: MeasureId, dtype: int64

In [81]:
sleepy_df = df[df['MeasureId']=='SLEEP'].copy()

In [82]:
sleepy_df.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
6,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Unhealthy Behaviors,1714000-17031840400,Sleeping less than 7 hours among adults aged >...,%,...,37.4,NaN,NaN,3326,"(41.8338478343, -87.6676795275)",UNHBEH,SLEEP,1714000.0,1.703184e+10,Sleep <7 hours
51,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Unhealthy Behaviors,1714000-17031170800,Sleeping less than 7 hours among adults aged >...,%,...,33.9,NaN,NaN,3721,"(41.9415761666, -87.8123712763)",UNHBEH,SLEEP,1714000.0,1.703117e+10,Sleep <7 hours
56,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Unhealthy Behaviors,1714000-17031160300,Sleeping less than 7 hours among adults aged >...,%,...,34.9,NaN,NaN,3785,"(41.9572682221, -87.7308957633)",UNHBEH,SLEEP,1714000.0,1.703116e+10,Sleep <7 hours
58,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Unhealthy Behaviors,1714000-17031834500,Sleeping less than 7 hours among adults aged >...,%,...,46.7,NaN,NaN,1475,"(41.788082329, -87.6247360033)",UNHBEH,SLEEP,1714000.0,1.703183e+10,Sleep <7 hours
103,2016,IL,Illinois,Chicago,Census Tract,BRFSS,Unhealthy Behaviors,1714000-17031650200,Sleeping less than 7 hours among adults aged >...,%,...,35.8,NaN,NaN,7320,"(41.7822223639, -87.7302264516)",UNHBEH,SLEEP,1714000.0,1.703165e+10,Sleep <7 hours

In [83]:
sleepy_df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [84]:
sleepy_df['Data_Value'].value_counts()

36.0    220
34.5    215
36.8    213
34.7    212
35.9    210
       ...
22.1      1
20.7      1
55.1      1
20.9      1
21.6      1
Name: Data_Value, Length: 341, dtype: int64

In [85]:
round(sleepy_df['PopulationCount'] * (sleepy_df['Data_Value'] * .01), 0) #preview

6         1214.0
51        1213.0
56        1272.0
58         668.0
103       2533.0
           ...
809934    1971.0
809991    1139.0
810031     773.0
810056    2387.0
810090    1855.0
Length: 29006, dtype: float64

In [86]:
sleepy_df['percent_of_pop'] = round(sleepy_df['PopulationCount'] * (sleepy_df['Data_Value'] * .01), 0) #convert to percentage

In [87]:
sleepy_df.groupby('CityName')['PopulationCount'].sum() #preview

CityName
Abilene         351189
Akron           597330
Alameda         221436
Albany          525870
Albuquerque    1637556
                ...
Wyoming         216375
Yakima          273201
Yonkers         587928
Youngstown      200946
Yuma            279192
Name: PopulationCount, Length: 474, dtype: int64

In [88]:
tot_pop_dict = dict(sleepy_df.groupby('CityName')['PopulationCount'].sum())
sleepy_df['tot_city_pop'] = sleepy_df['CityName'].map(tot_pop_dict)

In [89]:
#preview
sleepy_df[['CityName','percent_of_pop', 'tot_city_pop']]

       CityName  percent_of_pop  tot_city_pop
6       Chicago          1214.0     8086794.0
51      Chicago          1213.0     8086794.0
56      Chicago          1272.0     8086794.0
58      Chicago           668.0     8086794.0
103     Chicago          2533.0     8086794.0
...         ...             ...           ...
809934  El Paso          1971.0     1947363.0
809991   Dallas          1139.0     3593448.0
810031   Dallas           773.0     3593448.0
810056  El Paso          2387.0     1947363.0
810090   Denton          1855.0      340149.0

[29006 rows x 3 columns]

In [90]:
perc_pop_dict = dict(sleepy_df.groupby('CityName')['percent_of_pop'].sum())
sleepy_df['perc_city_pop'] = sleepy_df['CityName'].map(perc_pop_dict)

In [91]:
#preview
sleepy_df[['CityName','percent_of_pop', 'tot_city_pop', 'perc_city_pop']]

       CityName  percent_of_pop  tot_city_pop  perc_city_pop
6       Chicago          1214.0     8086794.0      2917566.0
51      Chicago          1213.0     8086794.0      2917566.0
56      Chicago          1272.0     8086794.0      2917566.0
58      Chicago           668.0     8086794.0      2917566.0
103     Chicago          2533.0     8086794.0      2917566.0
...         ...             ...           ...            ...
809934  El Paso          1971.0     1947363.0       716753.0
809991   Dallas          1139.0     3593448.0      1245836.0
810031   Dallas           773.0     3593448.0      1245836.0
810056  El Paso          2387.0     1947363.0       716753.0
810090   Denton          1855.0      340149.0       105806.0

[29006 rows x 4 columns]

In [92]:
#total number of people in the city divided by total city population = full city percentage
sleepy_df['tot_city_percent'] = round(sleepy_df['perc_city_pop'] / sleepy_df['tot_city_pop'],2)

In [93]:
#preview
sleepy_df[['CityName','percent_of_pop', 'tot_city_pop', 'perc_city_pop', 'tot_city_percent']]

       CityName  percent_of_pop  tot_city_pop  perc_city_pop  tot_city_percent
6       Chicago          1214.0     8086794.0      2917566.0              0.36
51      Chicago          1213.0     8086794.0      2917566.0              0.36
56      Chicago          1272.0     8086794.0      2917566.0              0.36
58      Chicago           668.0     8086794.0      2917566.0              0.36
103     Chicago          2533.0     8086794.0      2917566.0              0.36
...         ...             ...           ...            ...               ...
809934  El Paso          1971.0     1947363.0       716753.0              0.37
809991   Dallas          1139.0     3593448.0      1245836.0              0.35
810031   Dallas           773.0     3593448.0      1245836.0              0.35
810056  El Paso          2387.0     1947363.0       716753.0              0.37
810090   Denton          1855.0      340149.0       105806.0              0.31

[29006 rows x 5 columns]

In [94]:
sleepy_df.shape

(29006, 28)

In [95]:
sleepy_df.drop_duplicates('CityName', inplace = True) #we only need one entry for each city now

In [96]:
sleepy_df.shape

(475, 28)

In [73]:
sleepy_df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text', 'percent_of_pop', 'tot_city_pop',
       'perc_city_pop', 'tot_city_percent'],
      dtype='object')

In [100]:
sleepy_final = sleepy_df[['Year', 'StateAbbr', 'StateDesc', 'CityName', 'Category', 'CategoryID',
                         'Short_Question_Text', 'tot_city_pop', 'perc_city_pop',
                         'tot_city_percent']].copy()

In [104]:
sleepy_final.reset_index(inplace=True)

In [106]:
sleepy_final.drop('index', inplace=True)

KeyError: "['index'] not found in axis"